/* Write your CSS here */
.CardImageTeams {
  height: 100px;
  width: 100px;
  margin-right: 9px;
}
.ListForTeams {
  width: 400px;
  display: flex;
  background-color: #ffffff33;
  border: 1px solid #ffffff;
  margin: 13px;
  border-radius: 13px;
  padding: 9px;
}
.TeamCardNames {
  font-size: 18px;
}
